
@media (max-width:1360px){
  #fp-nav.fp-right {
    right: 30px;
    top: 52%;
  }
}

@media (max-width:1090px){
  .equipment{
    &__tabs{
      display: block;
      padding-top: 200px;
      padding-bottom: 40px;
    }
    &__tabs-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 65px;
    }
    &__tabs-item {
      margin: 0 10px;
    }
    &__item{
      width: 230px;
    }
  }
  .equipment__item+.equipment__item {
    margin-left: 0;
  }
  
}

@media (max-width:1200px){
  .menu{
    margin-right: auto;
    &__item-link{
      font-size: 16px;
      line-height: 20px;
    }
  }
  .menu__item+.menu__item {
    margin-left: 30px;
  }
  .user-panel__link {
    margin-right: 20px;
  }
}

@media (max-width:834px){
 
  .header__inner {
    margin-right: 55px;
    margin-left: 55px;
}
  .menu{
    &__item-link{
      font-size: 13px;
      line-height: 16px;
    }
  }
  .menu__item+.menu__item {
    margin-left: 30px;
  }
  .user-panel__link {
    margin-right: 5px;
  }
  .user-panel__cart{
    width: 80%;
  }
  .user-panel .user-panel__btn-line {
    width: 27px;
    height: 4px;
    &::before {
      width: 17px;
      height: 4px;
      top: 8px;
    }
    &::after{
      width: 21px;
      height: 4px;
      bottom: 8px;
    }
  }
  .top{
    &__content {
      max-width: 380px;
      margin: 0 55px 0 55px;
  }
    &__content-descr {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 52px;
    }
    &__content-title {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 20px;
    }
    &__content-link{
      margin-bottom: 32px;
    }
  }

  #fp-nav.fp-right {
    right: 53px;
  }

  .equipment{
    &__tabs{
      margin-right: 0;
    }
    &__tabs-btn{
      margin-bottom: 130px;      
    }
    &__list{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__item{
      margin-right: 36px;
      width: 260px;
      margin-bottom: 85px;
     /*  &:nth-child(1){
        display: none;
      } */
    }
    &__show-all{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 34px;
      &::after{
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        width: 50px;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transform: rotate(35deg);
        z-index: -10;
      }
    }
    &__show-all:hover:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  .equipment__item--helmets,
  .equipment__item--jackets,
  .equipment__item--cases{
    &:nth-child(1){
      display: none;
    }
  }
}

@media (max-width:760px){
  .menu__list{
    display: none;
  }
  .user-panel__btn{
    pointer-events: auto;
  }
  .equipment{
    &__list{
      display: block;
    }
    &__item{
      margin: 0 auto 85px;
      padding-top: 1px;
     &:last-child{
       margin-bottom: 0;
     }
    }
    .equipment__item--helmets,
    .equipment__item--jackets,
    .equipment__item--cases{
      &:nth-child(1){
        display: none;
      }
      &:nth-child(2){
        display: none;
      }
    }
  }
  .equipment__item+.equipment__item {
    margin-left: auto;
  }
}

@media (max-width:550px){
  .top{
    background-image: url('../images/bg-topmobile.jpg');
    
    &__content {
      max-width: 100%;
      margin: 0;
    }
    &__content-descr {
      margin-bottom: 46px;
    }
  }
  .header__inner {
   margin: 0;
  }
  #fp-nav.fp-right {
    display: none;
  }

  .equipment{
    &__tabs-item{
      font-size: 18px;
      line-height: 20px;
    }
    &__tabs-item--active {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media (max-width:375px){
  .header{
    top: 30px;
  }
  .top{
    &__wrapper{
      padding-top: 110px;
      padding-bottom: 25px;
    }
    &__content-title {
    font-size: 22px;
    line-height: 25px;
    }
    &__content-descr {
      line-height: 25px;
    }
    &__content-link {
      width: 140px;
      height: 40px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 34px;
        margin-left: 5px;
        padding-left: 0;
      }
    }
  }
  .social-links{
    &__link{
      margin-bottom: 0;
      &:nth-child(2){
        margin-bottom: 0;
      }
    }
  }
  ul.equipment__list{
    display: flex;
    flex-direction: column;
  }
  .equipment{
    &__tabs-btn{
      display: none;
    }
    &__menu{
      display: block;
      position: relative;
      margin-bottom: 130px;
    }
    &__menu-list{
      position: absolute;
      top: 0;
      left: 25px;
    }
  }
}