
@media (max-width:1600px){
  .bikes .swiper-pagination {
    left: 30%;
  }
  .bikes__slider-button {
    right: 303px;
  }
}

@media (max-width:1440px){
  .bikes .swiper-pagination {
    left: 34%;
  }
  .bikes{
    &__slider-button {
      right: 223px;
    }
  }
}

@media (max-width:1360px){
  #fp-nav.fp-right {
    right: 25px;
    top: 52%;
  }

  .bikes .swiper-pagination {
    left: 36%;
  }
  .bikes{
    &__slider-button {
      right: 183px;
    }
    &__img-box {
      top: 290px;
      position: absolute;
      left: 0;
    }
    &__img{
      width: 600px;
    }
  }
}

@media (max-width:1200px){
  .menu{
    margin-right: auto;
    &__item-link{
      font-size: 16px;
      line-height: 20px;
    }
  }
  .menu__item+.menu__item {
    margin-left: 30px;
  }
  .user-panel__link {
    margin-right: 20px;
  }
  .slider {
    padding-top: 200px;
    padding-bottom: 50px;
  }
  .slick-arrow{
    top: 60%;
  }
  .slider-right {
    right: 55px;
  }
  .slider-left {
    left: 55px;
  }

  .bikes .swiper-pagination {
    top: 28%;
    left: 38%;
  }
  .bikes{
    &__inner {
      padding-top: 225px;
      padding-bottom: 200px;
    }
    &__content{
      max-width: 550px;
    }
    &__title {
      font-size: 38px;
      line-height: 45px;
      margin-bottom: 25px;
    }
    &__slider-button {
      right: 133px;
      top: 530px;
    }
    &__img-box {
      top: 38%;
    }
    &__img{
      width: 600px;
    }
  }
}

@media (max-width:1090px){
  .header{
    top: 25px;
  }
  .equipment{
    &__tabs{
      display: block;
      padding-top: 200px;
      padding-bottom: 40px;
    }
    &__tabs-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 65px;
    }
    &__tabs-item {
      margin: 0 10px;
    }
    &__item{
      width: 230px;
    }
  }
  .equipment__item+.equipment__item {
    margin-left: 0;
  }
  #map{
    width: 356px;
    height: 207px;
  }

  .contacts{
    &__address{
      font-size: 22px;
      line-height: 26px;
      margin-right: 20px;
    }
    &__item {
      margin-bottom: 50px;
    }
  }
  .slider {
    padding-top: 180px;
    &__item {
      padding: 30px 15px;
      max-width: 580px;
    }
    &__text{
      font-size: 20px;
      line-height: 25px;
    }
    &__box{
      margin-bottom: 30px;
    }
    &__author{
      margin-top: -108px;
    }
    &__item-img{
      width: 200px;
      margin: 0 auto;
    }
  }
  .slick-list {
    padding: 87px 0 40px;
  }
  .slick-arrow {
    width: 60px;
    height: 60px;
  } 
  .slider-right {
    right: 50px;
  }
  .slider-left {
    left: 50px;
  }
  .bikes .swiper-pagination {
    top: 19%;
    left: 38%;
    font-size: 27px;
    line-height: 33px;
  }
  .bikes{
    &__title-top{
      left: 60px;
      transform: translateY(0%);
      top: 100px;
    }
   &__inner {
      padding-top: 180px;
      height: 500px;
    } 
    &__content {
      padding-top: 0;
    } 
    &__img {
      width: 500px;
    }
    &__title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 20px;
    }
    &__descr {
      margin-bottom: 20px;
      font-size: 17px;
      left: 21px;
    }
    &__slider-button {
      top: 397px;
      right: 130px;
    }
    
    &__link {
      width: 113px;
      height: 35px;
      font-size: 18px;
      left: 22px;
      img{
        width: 21px;
      }
    }
  }
  .bikes .swiper-button-prev, .bikes .swiper-button-next {
    width: 33px;
    height: 33px;
  }
}


@media (max-width:834px){
 
  .header__inner {
    margin-right: 55px;
    margin-left: 55px;
}
  .menu{
    &__item-link{
      font-size: 13px;
      line-height: 16px;
    }
  }
  .menu__item+.menu__item {
    margin-left: 30px;
  }
  .user-panel__link {
    margin-right: 5px;
  }
  .user-panel__cart{
    width: 80%;
  }
  .user-panel .user-panel__btn-line {
    width: 27px;
    height: 4px;
    margin-left: auto;
    transition: opacity .1s linear;
  }
  .user-panel .user-panel__btn{
    &::before {
      transition: transform .3s linear;
      width: 21px;
      height: 4px;
      top: 3px;
    }
    &::after{
      transition: transform .3s linear;
      width: 17px;
      height: 4px;
      bottom: 3px;
    }
  }
  .top{
    &__content {
      max-width: 380px;
      margin: 0 55px 0 55px;
  }
    &__content-descr {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 52px;
    }
    &__content-title {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 20px;
    }
    &__content-link{
      margin-bottom: 32px;
    }
  }

  #fp-nav.fp-right {
    right: 30px;
  }

  .equipment{
    &__tabs{
      margin-right: 0;
    }
    &__tabs-btn{
      margin-bottom: 130px;      
    }
    &__list{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__item{
      margin-right: 36px;
      width: 260px;
      margin-bottom: 85px;
      &:last-child{
        margin-right: 0;
      }
    }
    &__show-all{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 34px;
      &::after{
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        width: 50px;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transform: rotate(35deg);
        z-index: -10;
      }
    }
    &__show-all:hover:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  .equipment__item--helmets,
  .equipment__item--jackets,
  .equipment__item--cases{
    &:nth-child(1){
      display: none;
    }
  }

  .contacts{
    &__inner{
      padding-top: 180px;
    }
    &__address{
      font-size: 16px;
      line-height: 20px;
      margin-right: 20px;
      margin-left: 55px;
    }
    &__item {
      margin-bottom: 42px;
      padding-left: 50px;
    }
    &__item--geo::before {
      background-image: url(../images/icons/geo.svg);
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
    }
    &__item--phone::before {
      background-image: url(../images/icons/phone.svg);
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
    }
    &__item--message::before {
      background-image: url(../images/icons/messege.svg);
      width: 40px;
      height: 40px;
      top: 2px;
      left: 0;
    }
    &__link{
      margin-left: 55px;
    }
  }

  .slider {
    padding-top: 110px;
    &__item {
      max-width: 500px;
      &::after {
        content: '';
        position: absolute;
        border: 100px solid transparent;
        border-top: 30px solid #E2E2E2;
        left: 50%;
        bottom: -119px;
        transform: translateX(-50%);
      }
    }
    &__text{
      font-size: 16px;
      line-height: 21px;
    }
    &__author{
      margin-top: -75px;
      width: 127px;
      height: 74px;
    }
    &__item-img{
      width: 127px;
      height: 74px;
      margin: 0 auto;
    }
    &__time{
      font-size: 15px;
      line-height: 19px;
    }
  }
  .star{
    svg{
      height: 20px;
      margin-left: 0;
    }
  }
  .slick-list {
    padding: 45px 0 20px;
  }
  .reviews__title{
    top: 13px;
  }
  .slick-arrow {
    width: 56px;
    height: 56px;
  }
  .slick-arrow {
    top: 53%;
  }

  .bikes__img-box {
    top: 44%;
  }

  .bikes__inner {
    padding-top: 160px;
    height: 500px;
  }
  .bikes .swiper-pagination {
    left: 35%;
  }
  .bikes__slider-button {
    top: 375px;
  }
}

@media (max-width:760px){
  
  ul.menu__list{
    padding-top: 70px;
    padding-left: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    display: flex;
    background-color: rgba(0,0,0, 0.7);
    transform: translateY(-600%);
    transition: all .5s ease;
    &--active{
      transform: translateY(0%);
    }
  }
  .menu{
    &__item{
      margin-bottom: 35px;
    }
    &__item-link{
      font-size: 23px;
      line-height: 30px;
    }
  }
  .menu__item+.menu__item {
    margin-left: 0;
  }
  .user-panel__btn{
    pointer-events: auto;
    z-index: 5;
    transition: all .1s linear;
  }
  
  .user-panel .user-panel__btn--active{
    transition: all .1s linear;
    .user-panel__btn-line{
      opacity: 0;
      transition: opacity .1s linear;
    }
    &::before{
      transition: transform .3s linear ;
      opacity: 1;
      width: 30px;
      transform: translateY(10px) rotate(135deg);
    }
    &::after{
      transition: transform .3s linear ;
      width: 30px;
      transform: translateY(-7px) rotate(-135deg);
    }
  }
  
  .equipment{
    &__list{
      display: block;
    }
    &__item{
      margin: 0 auto 85px;
      padding-top: 1px;
     &:last-child{
       margin: 0 auto;
     }
    }
    .equipment__item--helmets,
    .equipment__item--jackets,
    .equipment__item--cases{
      &:nth-child(1){
        display: none;
      }
      &:nth-child(2){
        display: none;
      }
    }
  }
  .equipment__item+.equipment__item {
    margin-left: auto;
  }

  #map{
    display: none;
  }
  .contacts__address {
    font-size: 20px;
    line-height: 24px;
    margin-right: 0;
  }

  .slider__item{
    margin-bottom: 27px;
  } 

  .slick-arrow {
    top: 394px;
  }
  .slick-arrow {
    width: 17px;
    height: 8px;
  }
  .slider-right {
    right: 290px;
  }
  .slider-left {
    left: 295px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      width: 14px;
      height: 14px;
      background-color: #B0B0B0;
      border-radius: 50%;
      margin: 0 7px;
      button{
        border: none;
        font-size: 0;
        padding: 0;
        background-color: transparent;
      }
    }
  }
  .slick-dots{
    .slick-active{
      background-color: #fff;
    }
  }
  
  .bikes{
    &__title-top{
      top: 70px;
      left: 10px;
    }
    &__inner {
      padding-top: 150px;
      height: 300px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__content {
      max-width: 360px;
    }
    &__img-box {
      left: -100px;
    }
  }
}

@media (max-width:640px){
  #fp-nav.fp-right {
    display: none;
  }
  .reviews__title {
    top: 60px;
  }
  .slider {
    padding-top: 130px;
    padding-bottom: 30px;
  }
  ul.menu__list{
    padding-top: 60px;
    padding-left: 40px;
  }
  .menu__item-link {
    font-size: 20px;
    line-height: 25px;
  }
  .menu__item {
    margin-bottom: 25px;
  }
  .bikes__inner {
    margin-right: 55px;
  }

}

@media (max-width:550px){
  .top{
    background-image: url('../images/bg-topmobile.jpg');
    
    &__content {
      max-width: 100%;
      margin: 0;
    }
    &__content-descr {
      margin-bottom: 46px;
    }
  }
  .header__inner {
   margin: 0;
  }

  .equipment{
    &__tabs-item{
      font-size: 18px;
      line-height: 20px;
    }
    &__tabs-item--active {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .contacts__address,
  .contacts__link {
    margin-left: 0;
  }
  .contacts__inner,
  .contacts__link{
    padding-bottom: 30px;
    justify-content: center;
  }

  .slider{
    &__item {
      max-width: 336px;
      height: 134px;
      padding: 16px 9px;
    }
    &__author {
      margin-top: -50px;
      margin-bottom: 5px;
      width: 85px;
      height: 50px;
    }
    &__item-img{
      width: 85px;
      height: 50px;
    }
    &__text {
      display: none;
    }
    &__text-hidden{
      display: block;
      font-size: 13.23px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: $black;
    }
    &__box {
      margin-bottom: 20px;
    }
    &__time {
      font-size: 14px;
      line-height: 17px;
    }
  }
  .bikes{
    &__img {
      width: 450px;
    }
    &__title {
      font-size: 26px;
      line-height: 31px;
    }
    &__descr {
      font-size: 15px;
      left: 18px;
   }
   .bikes__content {
     max-width: 300px;
    } 
    &__slider-button {
      top: 375px;
      right: 104px;
    }
  }
  .bikes .swiper-pagination {
    left: 38%;
    top: 15%;
  }
}

@media (max-width:480px){
  .bikes__img-box {
    left: -210px;
    top: 41%;
  }
  .bikes__inner {
    margin-right: 0;
  }
  .bikes__slider-button {
    right: 50px;
  }
  .bikes .swiper-button-prev {
    left: -38px;
  }
}

@media (max-width:375px){
  /* .header{
    top: 30px;
  } */
  .top{
    &__wrapper{
      padding-top: 110px;
      padding-bottom: 25px;
    }
    &__content-title {
    font-size: 22px;
    line-height: 25px;
    }
    &__content-descr {
      line-height: 25px;
    }
    &__content-link {
      width: 140px;
      height: 40px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 34px;
        margin-left: 5px;
        padding-left: 0;
      }
    }
  }
  .social-links{
    &__link{
      margin-bottom: 0;
      &:nth-child(2){
        margin-bottom: 0;
      }
    }
  }
  ul.equipment__list{
    display: flex;
    flex-direction: column;
  }
  .equipment{
    &__tabs-btn{
      display: none;
    }
    &__menu{
      display: block;
      position: relative;
      margin-bottom: 130px;
    }
    &__menu-list{
      position: absolute;
      top: 0;
      left: 25px;
    }
  }

  .contacts{
    &__item {
      padding-left: 0;
      padding-top: 45px;
      text-align: center;
      &::before{
        left: 50%;
        transform: translateX(-50%);
        top: -5px;
      }
    }
  }

  .slider{
    &__item::after {
      z-index: -1;
      border: 104px solid transparent;
      border-top: 58px solid #E2E2E2;
      bottom: -125px;
    }
  }

  .slick-arrow {
    /* top: 354px; */
    top: 315px; 
  }
  .slider-right {
    right: 73px;
  }
  .slider-left {
    left: 73px;
  } 

  .reviews__title {
    font-size: 55px;
    line-height: 67px;
    top: 10px;
  }
  .slider {
    padding-top: 90px;
  }
  
  .bikes .swiper-pagination {
    left: 38%;
    top: 13%;
  }
}

@media (max-width:340px){
  .bikes .swiper-pagination {
    top: 20%;
    left: 36%;
  }
  .bikes__descr {
    font-size: 14px;
    left: 18px;
    width: 250px;
    margin-left: auto;
    margin-bottom: 10px;
  }
  .bikes__title {
    font-size: 24px;
    line-height: 28px;
  }
  .bikes__slider-button {
    top: 350px;
  }
}