

@media (max-width:1200px){
  .menu{
    margin-right: auto;
    &__item-link{
      font-size: 16px;
      line-height: 20px;
    }
  }
  .menu__item+.menu__item {
    margin-left: 30px;
  }
  .user-panel__link {
    margin-right: 20px;
  }
}

@media (max-width:834px){
  .header__inner {
    margin-right: 55px;
    margin-left: 55px;
}
  .menu{
    &__item-link{
      font-size: 13px;
      line-height: 16px;
    }
  }
  .menu__item+.menu__item {
    margin-left: 30px;
  }
  .user-panel__link {
    margin-right: 5px;
  }
  .user-panel__cart{
    width: 80%;
  }
  .user-panel .user-panel__btn-line {
    width: 27px;
    height: 4px;
    &::before {
      width: 17px;
      height: 4px;
      top: 8px;
    }
    &::after{
      width: 21px;
      height: 4px;
      bottom: 8px;
    }
  }
  .top{
    &__content {
      max-width: 380px;
      margin: 0 55px 0 55px;
  }
    &__content-descr {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 52px;
    }
    &__content-title {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 20px;
    }
    &__content-link{
      margin-bottom: 32px;
    }
  }

  #fp-nav.fp-right {
    right: 53px;
  }
}

@media (max-width:760px){
  .menu__list{
    display: none;
  }
  .user-panel__btn{
    pointer-events: auto;
  }

}

@media (max-width:550px){
  .top{
    background-image: url('../images/bg-topmobile.jpg');
    &__content {
      max-width: 100%;
      margin: 0;
    }
    &__content-descr {
      margin-bottom: 46px;
    }
  }
  .header__inner {
   margin: 0;
  }
  #fp-nav.fp-right {
    display: none;
  }
}

@media (max-width:375px){
  .header{
    top: 30px;
  }
  .top{
    &__wrapper{
      padding-top: 110px;
    }
    &__content-title {
    font-size: 22px;
    line-height: 25px;
    }
    &__content-descr {
      line-height: 25px;
    }
    &__content-link {
      width: 140px;
      height: 40px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 34px;
        margin-left: 5px;
        padding-left: 0;
      }
    }
  }
  .social-links{
    &__link{
      margin-bottom: 0;
      &:nth-child(2){
        margin-bottom: 0;
      }
    }
  }

}