$default:#fff;
$accent:#F26834;
$black:#000;
$gray:#E2E2E2;

%bebas-400{
  font-family: 'BebasNeue-Regular', sans-serif;
  font-weight: 400;
}

%montserrat-500{
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%montserrat-700{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}